.cover-game {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.skip-btn {
    position: absolute;
    top: 5vh;
    right: 5vw;
    z-index: 99;
}

.skip-btn button {
    padding: 10px 20px;
    background: #125659;
    color: white;
    border-radius: 15px;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 1rem;
}

.skip-btn button:hover {
    background: #6accc7;
    transform: scale(1.1);
}

.game-hint {
    position: absolute;
    bottom: 2vh;
    width: 100%;
    text-align: center;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 0.9rem;
    color: #333;
    z-index: 10;

    animation: blinkAnimation 3s ease-in-out infinite;
}

@keyframes blinkAnimation {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.mobile-controls {
    position: absolute;
    bottom: 12vh;
    left: 4vw;
    width: 100%;
    display: flex;
    justify-content: left;
    z-index: 10;
}

.mobile-controls button {
    width: 60px;
    height: 60px;
    border: 2px solid #125659;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    cursor: pointer;
    transition: transform 0.2s ease, background 0.3s ease;
    opacity: 0.3;
}

.mobile-controls button:hover {
    background-color: rgba(106, 204, 199, 0.3);
    transform: scale(1.05);
    opacity: 1;
}

.mobile-controls svg {
    width: 32px;
    height: 32px;
}

.up-btn {
    margin-top: -7vh;
}

.game-container {
    position: relative;
    width: 80%;
    height: 40vh;
}

.mystery-box {
    position: absolute;
    width: 7vh;
    height: 7vh;
    background: url("../assets/question-box.png") no-repeat center;
    background-size: contain;
    top: 10vh;
    left: 50%;
    transform: translateX(-50%) translateY(0);
    transition: transform 0.1s linear;
}

.box-jump {
    animation: boxBounce 0.3s ease-in-out;
}

@keyframes boxBounce {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(-2vh);
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

.mario {
    position: absolute;
    width: 10vh;
    height: 10vh;
    background: url("../assets/mario.gif") no-repeat center;
    background-size: contain;
    bottom: 5vh;
    transition: left 0.1s linear;
}

.jump {
    animation: jump 0.5s ease-out;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10vh);
    }
    100% {
        transform: translateY(0);
    }
}
